.btn {
    border: unset;
    text-align: center;
    border-radius: 0.5rem;
    transition: all .4s;
    cursor: pointer;
    overflow: hidden;

    &--xl {
        padding: 1.5rem 0 1.2rem 0;
        font-size: 1.6rem;
        width: 16.6rem;
        @media only screen and (max-width: 991px) {
            padding: 0.8rem 0 0.5rem 0;
            font-size: 1.2rem;
            width: 10.5rem;
        }
    }

    &--lg {
        padding: 1.4rem 0 1.2rem 0;
        font-size: 1.2rem;
        width: 18.5rem;
        @media only screen and (max-width: 991px) {
            padding: 1rem 0 0.6rem 0;
            font-size: 1rem;
            width: 15rem;
        }
    }

    &--yellow,
    &--transparent {
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            transition: all .4s;
        }

        &:hover {
            &::before {
                width: 100%;
            }
        }
    }

    &--yellow {
        color: $color-black;
        background: $color-yellow;

        &::before {
            background: $color-black;
        }

        &:hover {
            color: $color-white;
        }
    }

    &--transparent {
        color: $color-white;
        background: $color-transparent;
        border: 2px solid $color-white;

        &::before {
            background: $color-white;
        }

        &:hover {
            color: $color-black;
            border: 2px solid $color-white;
        }
    }

    &--animated {
        opacity: 0;
    }
}
