// BASIC RESET
p, h1, h2, h3, h4, h5, h6, ul, li,
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-weight: unset;
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, ul, li,
*,
*:active,
*:focus {
    outline: none;
    box-shadow: unset;
    box-sizing: border-box;
}

html {
    @include respond(fhd) {
        // width > 1601px
        font-size: 118.75%; // 1rem = 19px
    }
    @include respond(xxl) {
        // 1441px - 1600px
        font-size: 112.5%; // 1rem = 18px
    }
    @include respond(xl) {
        // 1367px - 1440px
        font-size: 106.25%; // 1rem = 17px
    }
    @include respond(lg) {
        // 1281px - 1366px
        font-size: 100%; // 1rem = 16px
    }
    @include respond(md) {
        // 769px - 1280px
        font-size: 93.75%; // 1rem = 15px
    }
    @include respond(sm) {
        // 576px - 768px
        font-size: 87.5%; // 1rem = 14px
    }
    @include respond(xs) {
        // width <= 575px
        font-size: 81.3%; // 1rem = 16 x 0.813 = 13px
    }
}
