@font-face {
    font-family: avenirNextBold;
    src: url(../fonts/AvenirNext/AvenirNext-Bold.otf) format("opentype");
}

@font-face {
    font-family: avenirNextBoldCn;
    src: url(../fonts/AvenirNext/AvenirNext-BoldCn.otf) format("opentype");
}

@font-face {
    font-family: avenirNextCn;
    src: url(../fonts/AvenirNext/AvenirNext-Cn.otf) format("opentype");
}

@font-face {
    font-family: avenirNextMediumCn;
    src: url(../fonts/AvenirNext/AvenirNext-MediumCn.otf) format("opentype");
}

@font-face {
    font-family: avenirNextRegular;
    src: url(../fonts/AvenirNext/AvenirNext-Regular.otf) format("opentype");
}

body {
    font-family: $font-anr, Arial, sans-serif;
    font-weight: 300;
    line-height: 1;
    color: $color-black;
}
