@font-face {
    font-family: avenirNextBold;
    src: url(../fonts/AvenirNext/AvenirNext-Bold.otf) format("opentype");
}

@font-face {
    font-family: avenirNextBoldCn;
    src: url(../fonts/AvenirNext/AvenirNext-BoldCn.otf) format("opentype");
}

@font-face {
    font-family: avenirNextCn;
    src: url(../fonts/AvenirNext/AvenirNext-Cn.otf) format("opentype");
}

@font-face {
    font-family: avenirNextMediumCn;
    src: url(../fonts/AvenirNext/AvenirNext-MediumCn.otf) format("opentype");
}

@font-face {
    font-family: avenirNextRegular;
    src: url(../fonts/AvenirNext/AvenirNext-Regular.otf) format("opentype");
}

body {
    font-size: 1rem;
    font-family: $font-anr, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.3;
    color: $color-black;
}

.font {
    &--mcn {
        font-family: $font-anmcn;
    }
}

.text {
    &--xs {
        font-size: 0.5rem;
    }

    &--sm {
        font-size: 0.65rem;
    }

    &--md {
        font-size: 0.8rem;
    }

    &--lg {
        font-size: 1.2rem;
    }

    &--xl {
        font-size: 1.5rem;
    }

    &--bold {
        font-family: $font-anb;
    }

    &--semi-bold {
        font-weight: 700;
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--white {
        color: $color-white;
    }

    &--blue {
        color: $color-blue;
    }

    &--black {
        color: $color-black;
    }
    &--center {
        text-align: center;
    }
}

.heading {
    &--one {
        font-size: 4.3rem;
        @media only screen and (max-width: 991px) {
            font-size: 2rem;
        }
    }

    &--two {
        font-size: 3rem;
    }

    &--three {
        font-size: 2.1rem;
        @media only screen and (max-width: 991px) {
            font-size: 1.2rem;
        }
    }

    &--four {
        font-size: 1.8rem;
    }

    &--five {
        font-size: 1.5rem;
    }

    &--six {
        font-size: 1.1rem;
    }
}
