.position {
    &--relative {
        position: relative;
    }
    &--absolute {
        position: absolute;
    }
}

.list {
    &--unstyled {
        list-style: none;
    }
}

.line-height {
    &--lg {
        line-height: 1.8;
    }
}

.w-100 {
    width: 100%;
}
