.position {
    &--relative {
        position: relative;
    }

    &--absolute {
        position: absolute;
    }
}

.list {
    &--unstyled {
        list-style: none;
    }
}

.no {
    &--decoration {
        text-decoration: none;
    }
}

.line-height {
    &--lg {
        line-height: 1.8;
    }
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.u--mb-45 {
    margin-bottom: 2rem;
}
