.footer {
    background-color: $color-grey-light;

    &__logo {
        width: 7rem;
        height: auto;
    }

    &__title {
        padding-top: 0.3rem;
    }

    &__list {
        &-item {
            @include transition;

            &:hover {
                color: $color-blue;
                @include transition;
            }

            &:not(:last-of-type) {
                &:after {
                    content: '';
                    display: block;
                    height: 80%;
                    width: 1px;
                    margin: 0 0.5rem;
                    background-color: $color-black;
                }
            }
        }
    }

    &__social {
        width: 3rem;
        height: 3rem;
        border-radius: 3rem;
        background-color: $color-blue;
        transform: scale(0.9);
        @include transition;

        &:hover {
            transform: scale(1);
            @include transition;
        }

        &-icon {
            width: 40%;
            height: 40%;
            fill: $color-white;
        }
    }
}
