.header {
    &__list {
        &-item {
            cursor: pointer;
            @include transition;

            &:hover {
                color: $color-blue-darken;
                @include transition;
            }
        }

        &-title {
            &:hover {
                + .header__content {
                    visibility: visible;
                    opacity: 1;
                    @include transition;
                }
            }
        }
    }

    &__content {
        visibility: hidden;
        top: 2rem;
        left: -1rem;
        right: -1rem;
        opacity: 0;
        @include transition;

        &--blue {
            padding: 4.3rem 6%;
            background-color: $color-blue;
        }

        &--transparent {
            height: 0.7rem;
            background-color: $color-transparent;
        }

        &:hover {
            visibility: visible;
            opacity: 1;
            @include transition;
        }
    }

    &__menu {
        width: 3.5rem;

        &-icon {
            width: 2rem;
            height: 2.3rem;
            padding: 0.9rem 0.6rem 0.6rem;
            background-color: $color-blue;
            fill: $color-white;
            cursor: pointer;
            @include transition;

            &:hover {
                background-color: $color-blue-darken;
                @include transition;
            }
        }
    }
}
